$paleBlue: hsl(243, 100%, 93%);
$grayishBlue: hsl(229, 7%, 55%);
$darkBlue: hsl(228, 56%, 26%);
$veryDarkBlue: hsl(229, 57%, 11%);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $veryDarkBlue;
  z-index: -2;
  .bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
  }
}

.nav {
  background-color: $darkBlue;
  padding: 20px;
  min-width: 320px;
  border-radius: 7px 80px 7px 7px;
  .logo {
    padding: 10px;
  }
  .buttons {
    padding: 10px;
    img {
      cursor: pointer;
      padding: 10px;
      max-width: 40px;
      max-height: 40px;
      border-radius: 10px;
      background-color: $veryDarkBlue;
      margin-right: 5px;
    }
  }
}

.usage {
  background-color: $darkBlue;
  color: $grayishBlue;
  border-radius: 10px;
  min-width: 480px;
  padding: 32px;
  margin-left: 20px;
  margin-top: 44px;
  .usage-text {
    margin-bottom: 10px;
  }
  .gb {
    color: #fff;
  }
  .gb-left {
    position: absolute;
    padding: 12px;
    right: 34%;
    top: 45%;
    background-color: #fff;
    span {
      color: black;
    }
  }
  .gb-left::after {
    background-color: #fff;
  }
  .bar {
    background-color: $veryDarkBlue;
    padding: 2px;
    border-radius: 10px;
    .progress {
      padding: 5px;
      border-radius: 10px;
      background: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    }
  }
  .range {
    display: flex;
    .gb2 {
      color: #fff;
      margin-left: auto;
    }
  }
}
